input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:29px;
							height:24px;
							display:inline-block;
							line-height:24px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:24px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -24px;
						}
						label.css-label {
				background-image:url(https://csscheckbox.com/checkboxes/u/csscheckbox_25c68cea905658aa397c192548f75f50.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.uform{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: outset;
  border-width: 4px;
  background-color:#fff;
  color:#555555;
  padding: 25px;
}

.ultitle{
    text-align: center;
    font-size: 12px;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.6px);
  height: 100vh;
	width: 99%;
}

.backgroundoflogin {
  background-image: url(/static/assets/img/back_mobile.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0px !important;
}

.lform{
  border-style: outset;
  border-width: 3px;
  background-color: #ffffffd4;
  color:#555555;
  padding: 18px;
  margin:auto;
  width: 95;
}
.lformcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  --ms-transform: translateX(-50%) translateY(-50%);
  --webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 85%;
}



.tablepad{
    margin:4px;
}

.tableadd{
    margin-bottom: 4px;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
background: linear-gradient(to bottom, #555555 0%, #555555 100%) !important;
color:white !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
background: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;
color:black !important;
border: 1px green solid !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

  * {
  box-sizing: border-box;
}

select {
  width: 39%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.dropdownoption{
  width: 96%;
  padding: 10px;
  float: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=search]{

  width: 75%;
  padding: 6px;
  margin-top:-5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

input[type=text], input[type=tel], input[type=email], input[type=datetime], input[type=date], input[type=number], input[type=url], input[type=datetime-local], input[type=password], textarea {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float:right;
  resize: vertical;
}

label {
  padding: 12px 7px 12px 0;
  display: inline-block;
}
 /* For mobile phones: */
input[type=submit] {
  background-color: #555555;
  color: white;
  font-weight:bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #212121;
}

.col-25 {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}
 /* For mobile phones: */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button.dt-button, div.dt-button, a.dt-button {
    background-image: -webkit-linear-gradient(top, #555555 0%, #555555 100%)!important;
    color:#fff !important;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}

button.dt-button:hover {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%)!important;
    color:#000 !important;
    border: 1px green solid !important;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}

.icon {
    padding: 13px;
    background: #9c9292;
    color: #fff;
    min-width: 40px;
    text-align: center;
    margin-bottom: 1px;
}

.iconr {
    padding: 14px;
    background: #9c9292;
    color: #fff;
    min-width: 50px !important;
    text-align: center;
}

.input-field {
    outline: none;
    border-radius: 0px !important;
    float: left !important;
    width: 85% !important;
    padding: 10px !important;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 95%;
  margin:auto;
  margin-bottom: 15px;
}

.input-field:focus {
  border: 2px solid #555555;
}


 /* For tablets: */ /* For tablets: */ /* For tablets: */ /* For tablets: */
@media only screen and (min-width: 600px) {
  /* For tablets: */
.uform{
  border-style: outset;
  border-width: 3px;
  background-color:#fff;
  color:#555555;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 68px;
  margin-right: 68px;
}

.tablepad{
    margin-left:22px;
    margin-right:22px;
    margin-top:12px;
    margin-bottom:12px;
}

.tableadd{
    margin-bottom: 4px;
    text-align: center;
}

.blur {
  background: rgb(255 255 255 / 41%);
    backdrop-filter: blur(6px);
  height: 100vh;
	width: 99%;
}

.backgroundoflogin {
  background-image: url(/static/assets/img/back2.png);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0px !important;
}

.lform{
  border-style: outset;
    border-width: 3px;
    border-radius: 6px;
    background-color: #ffffffb8;
    color: #555555;
    padding: 32px;
    margin: auto;
    width: 92%;
}

.lformcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  --ms-transform: translateX(-50%) translateY(-50%);
  --webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width:68%;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
background: linear-gradient(to bottom, #555555 0%, #555555 100%) !important;
color:white !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
background: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;
color:black !important;
border: 1px green solid !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

* {
  box-sizing: border-box;
}

select {
  width: 39%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=search]{

  width: 75%;
  padding: 6px;
  margin-top:-5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

.dropdownoption{
  width: 95%;
  padding: 10px;
  float: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text], input[type=tel], input[type=date], input[type=number], input[type=url], input[type=email], input[type=datetime], input[type=datetime-local], input[type=password], textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float:left;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
 /* For tablets: */
input[type=submit] {
  background-color: #555555;
  color: white;
  font-weight:bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #212121;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
 /* For tablets: */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


button.dt-button, div.dt-button, a.dt-button {
    background-image: -webkit-linear-gradient(top, #555555 0%, #555555 100%)!important;
    color:#fff !important;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}

button.dt-button:hover {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%)!important;
    color:#000 !important;
    border: 1px green solid !important;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}

.icon {
    padding: 15px;
    background: #9c9292;
    color: #fff;
    min-width: 20px;
    text-align: center;
}
.iconr {
    padding: 16px;
    background: #9c9292;
    color: #fff;
    min-width: 50px !important;
    text-align: center;
}

.input-field {
  outline: none;
  border-radius: 0px !important;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 95%;
  margin:auto;
  margin-bottom: 15px;
}

.input-field:focus {
  border: 2px solid #555555;
}

}



  /* For desktop: */  /* For desktop: */  /* For desktop: */  /* For desktop: */
@media only screen and (min-width: 768px) {
  /* For desktop: */
.uform{
  border-style: outset;
  border-width: 3px;
  background-color:#fff;
  color:#555555;
  padding: 35px;
  margin-top: 30px;
  margin-bottom: 39px;
  margin-left: 195px;
  margin-right: 195px;
}


.blur {
  background: rgb(255 255 255 / 41%);
    backdrop-filter: blur(6px);
  height: 100vh;
	width: 99%;
}

.backgroundoflogin {
  background-image: url(/static/assets/img/back2.png);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0px !important;
}

.lform{
  border-style: outset;
    border-width: 3px;
    border-radius: 6px;
    background-color: #ffffffb8;
    color: #555555;
    padding: 32px;
    margin: auto;
    width: 92%;
}

.lformcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  --ms-transform: translateX(-50%) translateY(-50%);
  --webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width:36%;
}

.ultitle{
    text-align:center;
    margin-top:4px;
    margin-bottom:20px;
}

.tablepad{
    margin-left:30px;
    margin-right:30px;
    margin-top:12px;
    margin-bottom:12px;
}


.tableadd{
    margin-bottom: 4px;
    text-align: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
background: linear-gradient(to bottom, #555555 0%, #555555 100%) !important;
color:white !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
background: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;
color:black !important;
border: 1px green solid !important;
border-radius:5px !important;
padding-top:8px !important;
padding-bottom:8px !important;
padding-left:14px !important;
padding-right:14px !important;
}

* {
  box-sizing: border-box;
}

.dropdownoption{
  width: 95%;
  padding: 10px;
  float: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

select {
  width: 39%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=search]{
  width: 75%;
  padding: 6px;
  margin-top:-5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=text], input[type=tel], input[type=date], input[type=number], input[type=url], input[type=email], input[type=password], input[type=datetime], input[type=datetime-local], textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float:left;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #555555;
  color: white;
  font-weight:bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* For desktop: */
input[type=submit]:hover {
  background-color: #212121;
}

.col-25 {
  margin-left:10px;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
/* For desktop: */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button.dt-button, div.dt-button, a.dt-button {
    background-image: -webkit-linear-gradient(top, #555555 0%, #555555 100%)!important;
    color:#fff !important;
    width:auto;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}

button.dt-button:hover {
    background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%)!important;
    color:#000 !important;
    border: 1px green solid !important;
    border-radius:4px !important;
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
}


.icon {
    padding: 15px;
    background: #9c9292;
    color: #fff;
    min-width: 20px;
    text-align: center;
}
.iconr {
    padding: 16px;
    background: #9c9292;
    color: #fff;
    min-width: 50px !important;
    text-align: center;
}
.input-field {
  outline: none;
  border-radius: 0px !important;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 95%;
  margin:auto;
  margin-bottom: 15px;
}

.input-field:focus {
  border: 2px solid #555555;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Styles for the drop-down. Feel free to change the styles to suit your website. :-) */

.cb-dropdown-wrap {
  max-height: 80px; /* At most, around 3/4 visible items. */
  position: relative;
  height: 18px;
}

.cb-dropdown,
.cb-dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cb-dropdown {
  position: absolute;
  z-index: 1;
  width: 107%;
  height: 130%;
  overflow: hidden;
  background: #ddd;
  color:#525252;
  border: 1px solid #888;
}

/* For selected filter. */
.active .cb-dropdown {
  background: #fff;
  color: #525252;
}

.cb-dropdown-wrap:hover .cb-dropdown {
  height: 80px;
  overflow: auto;
  transition: 0.3s height ease-in-out;
}

/* For selected items. */
.cb-dropdown li.active {
  background: #555555;
  color: #fff;
}

.cb-dropdown li label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
  line-height: 20px; /* Match height of .cb-dropdown-wrap */
}

.cb-dropdown li label > input {
  position: absolute;
  right: 3px;
  top: 5px;
  width: 16px;
}

.cb-dropdown li label > span {
  display: block;
  margin-left: 6px;
  margin-right: 19px; /* At least, width of the checkbox. */
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bolder;
  text-align: left;
}

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: 99% 10px;
}

}