{% extends "base-site.html" %}

{% block title %} Add Banner {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/bannersview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Add Banner </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Banner Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="POST" action="/addbanner" enctype="multipart/form-data">

        <div class="row">
        <div class="col-25">
        <label for="banner">Banner for<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
            <select  name="banner"   class="form-control" style="width:95%"  id="banner" onclick="showhide();" required>
                <option value="1" >Home Banner</option>
                <option value="2" >Home Banner 2</option>
                <option value="3" >Category Banner</option>
            </select>
        </div>
    </div>

        <div class="row" style="display:none" id="bomb">
         <div class="col-25">
         <label for="cid">Category ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95%" name="category_id" id="cid" required>
              {% for dataa in data %}
                <option title="{{dataa.category_id.S}}" value="{{dataa.category_id.S}}" >{{dataa.category_name.S}}</option>
                {% endfor %}
            </select>
<!--         <input type="text" id ="cid"name="category_id" placeholder="Category Id" required>-->
         </div>
     </div>

    <div class="row">
        <div class="col-25">
        <label for="cname">Banner Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" name="banner_name" placeholder="Enter Banner Name" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">Banner Image<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="banner_image" accept="image/*" required>
         </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="keyword">Keyword<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="keyword"class="form-control" name="keyword" placeholder="Enter keyword" required>
        </div>
    </div>

    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Add">
        <a style="color:black;text-decoration:none" href="/bannersview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}
<script>
function showhide(){
var optionval = document.getElementById("banner");
        optionval = optionval.value

        if (optionval == 3){
    const targetDiv = document.getElementById("bomb");
          if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "block";
          } else {
            targetDiv.style.display = "block";
          }
      }else{
      const targetDiv = document.getElementById("bomb");
      targetDiv.style.display = "none";
      }
}
</script>
{% endblock javascripts %}