{% extends "base-site.html" %}

{% block title %} Add Category {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/catview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Add Category </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Category Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/addcategory" enctype="multipart/form-data">
      <div class="row">
         <div class="col-25">
         <label for="id">Category ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id"name="catid" placeholder="Category Id" autofocus  required>
<!--         <input type="hidden" name="id" value="">-->
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label for="cname">Category Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname" name="catname" placeholder="Enter Category Name" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">Category Image<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="catimage" accept="image/*" required>
         </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="checkb">Add To TopDeals </label>
             <input id="checkb" type="checkbox" name="topdeals">
         </div>
         <div class="col-75">
         <label for="checkbc">Add To Daily Essentials </label>
             <input id="checkbc" type="checkbox" name="dailye">
         </div>
    </div>

    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Add">
        <a style="color:black;text-decoration:none" href="/catview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}