{% extends "base-site.html" %}

{% block title %} Add DeliveryBoy {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/deliveryboyview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Add DeliveryBoy </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">delboy Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/adddeliveryboy" enctype="multipart/form-data">

          <div class="row">
         <div class="col-25">
         <label for="cid">Choose Area<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95%" name="area_id" id="cid" required>
            {% for dataa in area %}
                <option title="{{dataa.area_id.S}}" value="{{dataa.area_id.S}}" >{{dataa.area_name.S}}</option>
            {% endfor %}
            </select>
         </div>
     </div>



    <div class="row">
        <div class="col-25">
        <label for="cname">DeliveryBoy Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" name="delivery_boy_name" placeholder="Enter Name" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">DeliveryBoy Image<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="delivery_boy_image" accept="image/*" required>
         </div>
    </div>

         <div class="row">
        <div class="col-25">
        <label for="phone">DeliveryBoy Phone<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="tel" id="phone"class="form-control" name="delivery_boy_phone" placeholder="Enter Mobile Number" required>
        </div>
    </div>


         <div class="row">
        <div class="col-25">
        <label for="pass">DeliveryBoy Password<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="password" id="pass"class="form-control" name="delivery_boy_pass" placeholder="Enter password" required>
        </div>
    </div>

         <div class="row">
        <div class="col-25">

        </div>
        <div class="col-75">
        <input id="check" type="checkbox" onclick="myFunction()"> <label for="check">Show Password</label>
        </div>
    </div>


    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Add">
        <a style="color:black;text-decoration:none" href="/deliveryboyview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}
<script>

    function myFunction() {
  var x = document.getElementById("pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock javascripts %}