{% extends "base-site.html" %}

{% block title %} Add SubCategory {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/subcatview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Add SubCategory </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">SubCategory Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/addsubcategory" enctype="multipart/form-data">
      <div class="row">
         <div class="col-25">
         <label for="id">SubCategory ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id"name="subcat_id" class="form-control"placeholder="SubCategory Id" autofocus  required>
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label for="cname">SubCategory Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" name="subcat_name" placeholder="Enter SubCategory Name" required>
        </div>
    </div>
    <div class="row">
         <div class="col-25">
         <label for="cid">Category ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95%" name="category_id" id="cid" required>
              {% for dataa in data %}
                <option title="{{dataa.category_id.S}}" value="{{dataa.category_id.S}}" >{{dataa.category_name.S}}</option>
                {% endfor %}
            </select>
<!--         <input type="text" id ="cid"name="category_id" placeholder="Category Id" required>-->
         </div>
     </div>
    <div class="row">
         <div class="col-25">
         <label for="cimage">SubCategory Image<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="subcat_image" accept="image/*" required>
         </div>
    </div>


    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Add">
        <a style="color:black;text-decoration:none" href="/catview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}