{% extends "base-site.html" %}

{% block title %} Flow TABLE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>
<div class="uform" style="margin-left:10px !important;margin-right:10px !important">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Categories</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addcategory">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        float: right;">Add Category</button></a>
        </div>
    </div>
<table id="example" class="display table responsive" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>S.no </th>
            <th>Category Name </th>
            <th>Category Image </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for alert in alerts %}
        <tr>
            <td>{{alert.id}}</td>
            <td>{{alert.date}}</td>
            <td>{{alert.station_id}}</td>
            <td>{{alert.dma_id}}</td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}