{% extends "base-site.html" %}

{% block title %} Area {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Areas</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addarea">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add Area</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>City Name </th>
            <th>Area Name </th>
            <th>Delivery Charge </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in area %}
        <tr>
            {% for dataa3 in city %}
                {%if dataa3.city_id.S == dataa.city_id.S %}
            <td>{{dataa3.city_name.S}}</td>
            {%endif%}
            {%endfor%}
            <td>{{dataa.area_name.S}}</td>
            <td>{{dataa.delivery_charge.S}}</td>
            <td>
                <a href="/areaedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>

            <a href="/areadelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>

    <div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Cities</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addcity">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add City</button></a>
        </div>
    </div>
<table id="example3" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>City Name</th>
            <th>City Image</th>
            <th>City Pincode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in city %}
        <tr>
            <td>{{dataa.city_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.city_image.S}}"></td>
            <td>{{dataa.city_pincode.S}}</td>
            <td>
                <a href="/cityedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>
            <a href="/citydelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>

</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}