{% extends "base-site.html" %}

{% block title %} Banners {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Category Banners</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addbanner">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add Banner</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Banner Name</th>
            <th>Banner Image</th>
            <th>keyword</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in catbanner%}
        <tr>
          <td>
          {% for dataa2 in category %}
            {%if dataa.category_id.S == dataa2.category_id.S %}
            {{dataa2.category_name.S}}
          {%endif%}
            {%endfor%}</td>

            <td>{{dataa.banner_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.banner_image.S}}"></td></td>
            <td>{{dataa.keyword.S}}</td>

            <td>
            <a href="/catbannerdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a>
            </td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>

<div class="container">
        <div class="row" style="margin-top:46px;">
            <div class="col-md-6" style="padding:15px;">
                <div style="background-color:white;overflow:auto;width:99%;max-height:490px;min-height:439px;padding:10px;margin:auto;padding:22px;border-radius:16px;border:outline 2px;">
                    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Home Banner</h4>
        </div>
                        <div class="col">
            <a style="text-decoration:none;color:black" href="/addbanner">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add Banner</button></a>
        </div>
    </div>
                   <table id="example4" class="display table responsive" style="width:100%">
                        <thead>
        <tr>
            <th>Banner Name</th>
            <th>Banner Image</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in homebanner %}
        <tr>
            <td>{{dataa.banner_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.banner_image.S}}"></td></td>
            <td>
            <a href="/homebannerdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a>
            </td>
        </tr>
    {%endfor%}
     </tbody>
                   </table>
                </div>
            </div>

            <div class="col-md-6" style="padding:10px;">
                <div style="background-color:white;width:99%;max-height:490px;min-height:439px;margin:auto;padding:22px;border-radius:16px;border:outline 2px;overflow:auto;">
                    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Home Banner 2</h4>
        </div>
                        <div class="col">
            <a style="text-decoration:none;color:black" href="/addbanner">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add Banner</button></a>
        </div>
    </div>
                   <table id="example3" class="display table responsive" style="width:100%">
                           <thead>
        <tr>
            <th>Banner Name</th>
            <th>Banner Image</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in homebanner2 %}
        <tr>
            <td>{{dataa.banner_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.banner_image.S}}"></td>
            <td>
            <a href="/homebanner2delete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a>
            </td>
        </tr>
    {%endfor%}
     </tbody>
                   </table>
                </div>
            </div>
        </div>
</div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}