{% extends "base-site.html" %}

{% block title %} Delivery Boy {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">Delivery Boys</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/adddeliveryboy">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add</button></a>
        </div>
    </div>
<table id="example99" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>DeliveryBoy Name</th>
            <th>DeliveryBoy Image</th>
            <th>DeliveryBoy Phone</th>
            <th>Confirm</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.delivery_boy_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.delivery_boy_image.S}}"></td>
            <td>{{dataa.delivery_boy_phone.S}}</td>
            {% if dataa.is_confirmed.S == "1" %}
            <td style="color:blue">Confirmed</td>
            {% else %}
            <td style="color:red">Not confirmed</td>
            {%endif%}
            <td>
                <a href="/deliveryboyedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>
            <a href="/deliveryboydelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}