{% extends "base-site.html" %}

{% block title %} Delivery {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.css"/>

{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:10px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Deliveries</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/completed">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Completed orders</button></a>
        </div>
    </div>
<table id="example12" class="display responsive cell-border" style="background:unset;width:100%">
    <caption>Delivery Filter</caption>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price </th>
            <th>Order Type</th>
            <th>Order Qty</th>
            <th>Delivery Date</th>
            <th>User Name</th>
            <th>Mobile</th>
            <th>Area</th>
            <th>City</th>
            <th>Address</th>
            <th>Delivery Boy</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
    {% if dataa.sub_status.S != "completed" %}
    {% set testing = {} %}
    {% set testinga = {} %}

        <tr>

            {% for dataa2 in data2 %}
            {%if dataa.product_id.S == dataa2.product_id.S %}
                <td>{{dataa2.product_name.S}}</td>
                {% set _ = testing.update({'deleted':False}) %}
            {%break%}
            {%else%}
            {% set _ = testing.update({'deleted':True}) %}
            {%endif%}
            {%endfor%}
<!--            {{testing["deleted"]}}-->
            {% if testing["deleted"] == True %}
            <td>Product Deleted</td>
            {%endif%}

            <td>{{dataa.subscription_price.S}}</td>
            <td>{{dataa.order_type.S}}</td>
            <td>
                {% if dataa.order_qty.S %}
                {{dataa.order_qty.S}}
                {% else %}
                {{dataa.order_qty.N}}
                {%endif%}
            </td>
            <td style="width:120px;">{{dataa.delivery_date.S}}</td>

            {% for dataa3 in users %}
            {%if dataa.user_id.S == dataa3.user_id.N %}
            <td>{{dataa3.user_name.S}}</td>
            {% set _ = testing.update({'deleted':False}) %}
            {%break%}
            {% else %}
            {% set _ = testing.update({'deleted':True}) %}
            {%endif%}
            {%endfor%}

            {% if testing["deleted"] == True %}
            <td>User Removed</td>
            {%endif%}

             {% for dataa3 in users %}
            {%if dataa.user_id.S == dataa3.user_id.N %}
            <td><a href="tel:{{dataa3.user_phone.S}}">{{dataa3.user_phone.S}}</a></td>
            {% set _ = testinga.update({'deleted':False}) %}
            {%break%}
            {% else %}
            {% set _ = testinga.update({'deleted':True}) %}
            {%endif%}
            {%endfor%}

            {% if testinga["deleted"] == True %}
            <td>User Removed</td>
            {%endif%}

            {% for dataa3 in data3 %}
            {%if dataa.address_id.S == dataa3.address_id.S %}


            {% for areas in area %}
            {%if dataa3.tryonceUserAddressesAreaId.S == areas.area_id.S %}
            <td>{{areas.area_name.S}}</td>
            {%endif%}
            {%endfor%}

            {% for cityy in city %}
            {%if dataa3.tryonceUserAddressesCityId.S == cityy.city_id.S %}
            <td>{{cityy.city_name.S}}</td>
            {%endif%}
            {%endfor%}
            <td style="width:290px;"><p style="max-width:100%;max-height: 80px;overflow-y: scroll;text-overflow: ellipsis;">{{dataa3.address.S}}</p></td>
            {%endif%}
            {%endfor%}
            <td>
                {% if 'delivery_boy_id' in dataa %}
                    {% for dataa2 in deliveryboy %}
                    {% if dataa2.delivery_boy_id.S == dataa.delivery_boy_id.S%}
                {{dataa2.delivery_boy_name.S}}
                    {%endif%}
                    {%endfor%}
                {% else %}
                Not Assigned
                {%endif%}
            </td>
            <td style="width:11%;">

                {% if 'delivery_boy_id' in dataa %}
        <button type="button" class="btn btn-warning btn-sm" style="padding-left:20px;padding-right:20px;margin:4px;font-weight: bold;" onclick="subsid({{dataa.id.S}})" data-toggle="modal" data-target="#myModal">ReAssign</button>
                {% else %}
                <button type="button" class="btn btn-info btn-sm" style="padding-left:20px;padding-right:20px;margin:4px;font-weight: bold;" onclick="subsid({{dataa.id.S}})" data-toggle="modal" data-target="#myModal">Assign</button>
                {%endif%}
            <a href="/ordersdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white;padding-left:18px;padding-right:18px;margin:4px;font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endif%}
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
<!--      <div class="modal-header">-->
<!--        <button style="float:right" type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 style="float:left" class="modal-title">Modal Header</h4>-->
<!--      </div>-->

              <div class="modal-body">
                <div class="row">
                     <div class="col-4">
                     <label for="did">Choose Delivery Boy<span style="color:red">*</span> :</label>
                     </div>
                     <div class="col-8">
                        <select class="form-control" style="width:92%" name="delivery_boy_id" id="did" required>
                          {% for dataa in deliveryboy %}
                            <option title="{{dataa.delivery_boy_id.S}}" value="{{dataa.delivery_boy_id.S}}" >{{dataa.delivery_boy_name.S}}</option>
                          {% endfor %}
                        </select>
                     </div>
                 </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submit(event)">Assign</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

    </div>

  </div>
</div>

{% endblock %}
{% block javascripts %}
<script>
function  subsid(sid) {
localStorage.setItem("subs_id", sid);

}
function  submit(e) {

var did = document.getElementById("did");
subs_id=localStorage.getItem("subs_id")
var params = "delivery_boy_id="+did.value+"&subs_id="+subs_id

var xhttp = new XMLHttpRequest();
xhttp.open("POST", "/assign", true);
xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xhttp.send(params);
setTimeout(function() {
      // Do something after 5 seconds
      location.reload();//reload page
}, 1200);
<!--window.location.href= "/deliveryview";-->
}

</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/date-1.1.1/r-2.2.9/rr-1.2.8/sb-1.2.0/sp-1.4.0/datatables.min.js"></script>
{% endblock javascripts %}