{% extends "base-site.html" %}

{% block title %} Filter Delivery {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:125px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
            <form method="post" action="/filterdelivery">

     <div class="row">
         <div class="col-25">
         <label for="cid">Choose a Location<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95% ; border: solid black 1px" name="area_id" id="cid" required>

              {% for dataa in area %}
                {% for dataa3 in city %}
                {%if dataa3.city_id.S == dataa.city_id.S %}
                <option  value="{{dataa.area_id.S}}"> {{dataa3.city_name.S}} > {{dataa.area_name.S}}</option>
                {%endif%}
                {%endfor%}
              {% endfor %}

            </select>
         </div>
     </div>

    <div class="row">
         <div class="col-25">
         <label for="id">Choose Date <span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="date" id ="id" name="delivery_date" class="form-control" value="{{currentdate}}" required>
         </div>
     </div>


    <center style="margin-top:20px;margin-bottom:8px">
        <input type="submit" name="addcat" value="Filter">
    </center>

            </form>
        </div>
    </div>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}