{% extends "base-site.html" %}

{% block title %} Edit SubCategory {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/subcatview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Edit SubCategory </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">SubCategory Edited Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}

<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/editsubcategory" enctype="multipart/form-data">
      <div class="row">
         <div class="col-25">
         <label for="id">SubCategory ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id"name="subcat_id" value="{{data.subcat_id.S}}" class="form-control"placeholder="SubCategory Id" readonly  required>
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label for="cname">SubCategory Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" value="{{data.subcat_name.S}}" name="subcat_name" placeholder="Enter SubCategory Name" autofocus required>
        </div>
    </div>
    <div class="row">
         <div class="col-25">
         <label for="cid">Category ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95%" name="category_id" id="cid" required>
                <option title="{{data.category_id.S}}" value="{{data.category_id.S}}" selected>{{datacat.category_name.S}}</option>
                <optgroup label="select category">
                {% for dataa in data3 %}
                <option title="{{dataa.category_id.S}}" value="{{dataa.category_id.S}}" >{{dataa.category_name.S}}</option>
                {% endfor %}
                    </optgroup>
            </select>
         </div>
     </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">SubCategory Image :</label>
         </div>
         <div class="col-75">
             <div class="row">
                 <div class="col-6">
                    <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="subcat_image" accept="image/*" >
                     </div>
                 <div class="col-6">
            <img style="width:46px;height:42px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{data.subcat_image.S}}">
                 </div>
             </div>
         </div>
    </div>



    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Update">
        <a style="color:black;text-decoration:none" href="/subcatview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}