{% extends "base-site.html" %}

{% block title %} Edit Category {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/catview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Edit Category </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Category edited Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/editcategory" enctype="multipart/form-data">
      <div class="row">
         <div class="col-25">
         <label for="id">Category ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id" name="catid" value="{{data.id.S}}" class="form-control" placeholder="Category Id" readonly>
<!--         <input type="hidden" name="id" value="">-->
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label for="cname">Category Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname" name="catname" value="{{data.category_name.S}}" placeholder="Enter Category Name" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">Category Image :</label>
         </div>
         <div class="col-75">
             <div class="row">
                 <div class="col-6">
         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" accept="image/*" name="catimage">
                 </div>
                 <div class="col-6">
<img style="width:46px;height:42px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{data.category_image.S}}">
                 </div>
                 </div>
         </div>
    </div>

    <div class="row">
        {%if topdeal != "checked" %}
         <div class="col-25">

         <label for="checkb">Add To TopDeals </label>
         <input id="checkb" type="checkbox" name="topdeals" {{topdeal}}>

         </div>
        {%else%}
         <div class="col-25">

         <label for="checkb">Added To <span style="color:green">TopDeals</span> </label>


         </div>
        {%endif%}
        {%if daily != "checked" %}
         <div class="col-75">
         <label for="checkbc">Add To Daily Essentials </label>
             <input id="checkbc" type="checkbox" name="dailye" {{daily}}>
         </div>
        {%else%}
         <div class="col-25">

             <label for="checkb"><span style="color:green">Added To Daily Essential</span></label>


         </div>
        {%endif%}
    </div>

        <p style="color:red;font-size:12px">* Remove Topdeals and Daily Essentials  entry from <a href="/homeview">Here</a></p>


    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Update">
        <a style="color:black;text-decoration:none" href="/catview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}