{% extends "base-site.html" %}

{% block title %} Edit Product {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/productview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Edit Product</a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Product Edited Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/editproduct" enctype="multipart/form-data">

     <div class="row">
         <div class="col-25">
         <label for="cid">Choose a SubCategory<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95% ; border: solid black 1px" name="subcat_id" id="cid" required>
                {% for dataa in data2 %}
                {%if dataa.subcat_id.S == data.subcat_id.S %}

                {% for dataa3 in data3 %}
                {%if dataa3.category_id.S == dataa.category_id.S %}
                <option title="{{dataa.category_id.S}}" value="{{data.subcat_id.S}}" >{{dataa3.category_name.S}} > {{dataa.subcat_name.S}}</option>
                {%endif%}
                {%endfor%}

                {%endif%}
                {%endfor%}

                <optgroup label="select category">
              {% for dataa in data2 %}
                    {% for dataa3 in data3 %}
                {%if dataa3.category_id.S == dataa.category_id.S %}
                <option title="{{dataa.category_id.S}}" value="{{dataa.subcat_id.S}}">{{dataa3.category_name.S}} > {{dataa.subcat_name.S}}</option>
                    {%endif%}
                {%endfor%}

              {% endfor %}
                </optgroup>
            </select>
         </div>
     </div>
     <div class="row">
         <div class="col-25">
         <label for="id">Product ID<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id" name="product_id" class="form-control" value="{{data.product_id.S}}" placeholder="Product Code" readonly  required>
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label for="cname">Product Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" name="product_name"value="{{data.product_name.S}}"  placeholder="Enter Product Name" autofocus required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cimage">Product Image :</label>
         </div>
         <div class="col-75">
             <div class="row">
                 <div class="col-6">
                    <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="product_image" accept="image/*" >
                     </div>
                 <div class="col-6">
            <img style="width:46px;height:42px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{data.product_image.S}}">
                 </div>
             </div>
         </div>
    </div>




    <div class="row">
        <div class="col-25">
        <label for="desc">Product Description<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="desc"class="form-control" name="description" value="{{data.description.S}}" placeholder="Enter Product description" required>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="mrp">MRP<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="mrp"class="form-control" name="mrp" value="{{data.mrp.S}}" placeholder="Enter MRP" required>
        </div>
    </div>


    <div class="row">
        <div class="col-25">
        <label for="price">BuyOnce Price<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="price"class="form-control" name="price" value="{{data.price.S}}" placeholder="Enter Price" required>
        </div>
    </div>


    <div class="row">
        <div class="col-25">
        <label for="sup">Subscription Price<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="sup"class="form-control" name="subscription_price" value="{{data.subscription_price.S}}" placeholder="Enter Price" required>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="Stock">Stock<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="Stock"class="form-control" name="stock" value="{{data.stock.S}}" placeholder="Enter Stock quantity in numbers" required>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="Quantity">Quantity<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="Quantity"class="form-control" name="qty" value="{{data.qty.S}}" placeholder="Enter Quantity of product" required>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
        <label for="Unit">Unit<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="Unit"class="form-control" name="unit" value="{{data.unit.S}}" placeholder="Enter Unit (ml,gm,pkts)" required>
        </div>
    </div>

        {%if data4 %}
      <div class="row" style="width:28%;margin:auto">
         <div class="col-12">
         <label style="font-size:14px" for="checkb">Add To Subs Of The DAY </label>
             <input id="checkb" type="checkbox" name="suboday" checked onclick="showhide();">
         </div>
         <div style="display:block" class="col-12" id="bomb">
         <p style="font-size:14px" for="checkbc">Count</p>
             <input type="hidden" name="subodayid" value="{{data4.id.S}}">
             <input style="width:100%;" id="checkbc" value="{{data4.count.N}}" type="number" name="count">
         </div>
    </div>
        {%else%}
        <div class="row" style="width:28%;margin:auto">
         <div class="col-12">
         <label style="font-size:14px" for="checkb">Add To Subs Of The DAY </label>
             <input id="checkb" type="checkbox" name="suboday"  onclick="showhide();">
         </div>
         <div style="display:none" class="col-12" id="bomb">
         <p style="font-size:14px" for="checkbc">Count</p>

             <input style="width:100%;" id="checkbc" value="10" type="number" name="count">
         </div>
    </div>
        {%endif%}


    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="update">
        <a style="color:black;text-decoration:none" href="/productview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script>
function showhide(){
    const targetDiv = document.getElementById("bomb");
      if (targetDiv.style.display !== "none") {
        targetDiv.style.display = "none";
      } else {
        targetDiv.style.display = "block";
      }
}
</script>
{% endblock javascripts %}