{% extends "base-site.html" %}

{% block title %} Edit Area {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/areaview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Edit Area </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Area Updated Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/editarea" enctype="multipart/form-data">

    <div class="row">
        <div class="col-25">
        <label for="cname">Area Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control" value="{{area.area_name.S}}" name="area_name" placeholder="Enter Area Name" autofocus required>
        <input type="hidden" value="{{area.id.S}}" name="area_id">
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label for="cid">Choose City<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
            <select class="form-control" style="width:95%" name="city_id" id="cid" required>
              {% for dataa2 in city %}
                {%if area.city_id.S == dataa2.city_id.S %}
                <option title="{{area.city_id.S}}"  value="{{area.city_id.S}}">{{dataa2.city_name.S}}</option>
                {%endif%}
                {%endfor%}
                <optgroup label="Select City">
              {% for dataa in city %}
                <option title="{{dataa.city_id.S}}" value="{{dataa.city_id.S}}" >{{dataa.city_name.S}}</option>
                {% endfor %}
                </optgroup>
            </select>
         </div>
     </div>

     <div class="row">
         <div class="col-25">
         <label for="id">Delivery Charge<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="text" id ="id"name="delivery_charge" value="{{area.delivery_charge.S}}" class="form-control"placeholder="Delivery Charges" required>
         </div>
     </div>
<!--    <div class="row">-->
<!--         <div class="col-25">-->
<!--         <label for="cimage">SubCategory Image<span style="color:red">*</span> :</label>-->
<!--         </div>-->
<!--         <div class="col-75">-->
<!--         <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="subcat_image" accept="image/*" required>-->
<!--         </div>-->
<!--    </div>-->


    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Update">
        <a style="color:black;text-decoration:none" href="/areaview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}