{% extends "base-site.html" %}

{% block title %} Update City {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff; border-radius:10px;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/areaview" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="#" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">Edit City </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">City updated Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div style="width:80%;margin:auto;">
<div class="card" style="margin-bottom:20px">
    <form class="card-body" method="post" action="/editcity" enctype="multipart/form-data">

    <div class="row">
        <div class="col-25">
        <label for="cname">City Name<span style="color:red">*</span> :</label>
        </div>
        <div class="col-75">
        <input type="text" id="cname"class="form-control"  value="{{city.city_name.S}}" name="city_name" placeholder="Enter City Name" autofocus required>
        <input type="hidden" value="{{city.id.S}}" name="city_id">
        </div>
    </div>
     <div class="row">
         <div class="col-25">
         <label for="id">City Pincode<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
         <input type="number" id ="id"name="city_pincode" class="form-control"  value="{{city.city_pincode.S}}"title="501101" placeholder="Enter Pincode" required>
         </div>
     </div>
<div class="row">
         <div class="col-25">
         <label for="cimage">City Image<span style="color:red">*</span> :</label>
         </div>
         <div class="col-75">
             <div class="row">
                 <div class="col-6">
                    <input type="file"  class="form-control" id="cimage" style="max-width:max-content" name="city_image" accept="image/*" >
                     </div>
                 <div class="col-6">
            <img style="width:46px;height:42px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{city.city_image.S}}">
                 </div>
             </div>
         </div>
    </div>



    <center style="margin-top:20px;margin-bottom:20px">
        <input type="submit" name="addcat" value="Update">
        <a style="color:black;text-decoration:none" href="/areaview">
        <button type="button" style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;">Cancel</button></a>

    </center>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}