{% extends "base-site.html" %}

{% block title %} Meter Reading {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Meter Readings</h4>
        </div>
    </div>
	<table id="example123" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            
            <th>Consumer Id</th>
            <th>Meter Reading</th>
            <th>User Id</th>
            <th>Department</th>
            <th>Location</th>
            <th>TimeStamp</th>
            <th hidden>CreatedAT</th>
            <th>Meter Image</th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}

        <tr>
            <!-- <td><i class="far fa-address-card"></i> {{dataa.id.S|truncate(13)}}</td> -->
            
             <td><i class="fas fa-users"></i> {{dataa.consumer_id.S}}</td>
            <td><i class="fas fa-tachometer-alt"></i> {{dataa.meter_readings.S}}</td>
            <td><i class="far fa-user"></i> {{dataa.user_id.S}}</td>
        <!--- <td>{% if dataa.lat %}{{dataa.lat.S}}{%endif%},{% if dataa.lng %}{{dataa.lng.S}}{%endif%}</td> --->
        <td>Cyberabad</td>
	    <td><a href="/viewlocation/{{dataa.user_id.S}}">View Location</a> </td>
            <td><i class="far fa-clock"></i> {{dataa.timestamp.S}}</td>
            <td hidden>{{dataa.createdAt.S[0:10]}} {{dataa.createdAt.S[12:16]}}</td>
            <td><a href="{{dataa.image_url.S}}"><img src="{{dataa.image_url.S}}" style="width:65px;height:65px" alt="No Image Available"></a></td>
        </tr>
        {% if loop.index == 99 %}
        {%break%}
        {%endif%}
    {%endfor%}
     </tbody>
</table>
    </div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}

<script>

</script>
{% endblock javascripts %}
