{% extends "base-site.html" %}

{% block title %} HOME {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&libraries=&v=weekly" defer></script>
 <style type="text/css">
      #map {
        height: 900px;
        width: 100%;
      }
    </style>
{% endblock stylesheets %}

{% block content %}

<div onload="script();" style="width:100%;margin:auto;margin-top:30px;margin-bottom:30px">
     <h3>DMA/UFW Map</h3>
    {%if dmalist == []%}
        <h2 style="color:red;">No Entries Available.</h2>
    {%endif%}
    {% if current_user.isadmin == 'false' %}
        <h2 style="color:red;">Please Contact Admin.</h2>
    {%endif%}
    <!--The div element for the map -->
    <div id="map"></div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{%if signin%}
<script>const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 2000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: 'Signed in successfully'
})</script>
{%endif%}
{%if newuser%}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">New {{newuser}} Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
{%endif%}
  <script src="/static/assets/js/app/app-blog-overview.1.1.0.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script>

      function initMap() {

         var locations = [
         {% for data in dmalist %}
      ['{{data.areaname}}', {{data.boundary1}}, {{data.boundary2}}, {{data.boundary3}}, {{data.boundary4}}, '{{data.areacolor}}','{{data.dma_id}}'],
      {% endfor %}
        ];


        var data = [
        {% for data in dmadata %}
         {% for data2 in data %}
        ['{{data2.dma_id}}','{{data2.year_month}}',{{data2.read_meters}},'{{data2.read_period}}',{{data2.avg_read_days}},{{data2.inflow}},{{data2.consumption}},{{data2.ufw}},{{data2.ufwper}}],
        {% endfor %}
        {% endfor %}
        ];

         area = { lat: locations[0][1], lng: locations[0][2] };


        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: area,
        });
 {% set count = namespace(value=0) %}
 {% for data in dmalist %}
    var myTrip{{loop.index}} = [
        { lat: {{boundary["boundary1"][count.value][0]}}, lng: {{boundary["boundary1"][count.value][1]}} },
        { lat: {{boundary["boundary2"][count.value][0]}}, lng: {{boundary["boundary2"][count.value][1]}} },
        { lat: {{boundary["boundary3"][count.value][0]}}, lng: {{boundary["boundary3"][count.value][1]}} },
        { lat: {{boundary["boundary4"][count.value][0]}}, lng: {{boundary["boundary4"][count.value][1]}} }
        ];

    var details{{loop.index}} = "<center><table border=2><thead><tr><th>Id &nbsp;</th><th>Dma Id &nbsp;</th><th>Year-Month &nbsp;</th><th>Read-Meters &nbsp;</th><th>Read-Period &nbsp;</th><th>Avg-Read-Days &nbsp;</th><th>Inflow &nbsp;</th><th>Consumption &nbsp;</th><th>UFW &nbsp;</th><th>UFW % &nbsp;</th></tr></thead><tbody> \
         {% for data2 in boundary["dmadata"][count.value] %}\
            <tr><td>{{data2.id}}</td> \
            <td id=\"dmaid\">{{data2.dma_id}}</td> \
            <td>{{data2.year_month}}</td> \
            <td>{{data2.read_meters}}</td> \
            <td>{{data2.read_period}}</td> \
            <td>{{data2.avg_read_days}}</td> \
            <td>{{data2.inflow}}</td> \
            <td>{{data2.consumption}}</td> \
            <td>{{data2.ufw}}</td> \
            <td>{{data2.ufwper}}</td> \
            </tr> \
            {%endfor%} \
            Area Name: {{boundary['areaname'][count.value]}} \
            </tbody></table></center>\
            <div><center><button onclick=\"transfer()\" style=\"width:120px;background-color:#555555;color:white;margin-top:10px;margin-bottom:10px;\" class=\"btn btn-block\">Show Stations</button></center></div>\
            <center><a href=\"/static/graphs/{{data.dma_id}}.mp4\" >Play Video</a></center>\
            <center><img width=\"300px\" src=\"/static/graphs/dma_{{data.dma_id}}.jpg?{{ range(10000, 99999) | random }}\"></center>\
            <div id="+'"top_x_div{{loop.index}}"'+"></div> \
            ";

            //Dynamically generate graphs for each table

            var rectangle{{loop.index}} = new google.maps.Polygon({
              path:myTrip{{loop.index}},
              strokeColor:'{{boundary["color"][count.value]}}',
              strokeOpacity:0.5,
              strokeWeight:1,
              fillColor: '{{boundary["color"][count.value]}}',
              fillOpacity:0.5,
              editable: false ,
              geodesic: true,
            });
            rectangle{{loop.index}}.setMap(map);
            attachPolygonInfoWindow{{loop.index}}(rectangle{{loop.index}}, myTrip{{loop.index}}, details{{loop.index}});

{% set count.value = count.value + 1 %}
            {% endfor %}
           



}
<!--Info window flow map button function-->

{% set count = namespace(value=0) %}
 {% for data in dmalist %}
 function attachPolygonInfoWindow{{loop.index}}(polygon, coors, html)
        {

            polygon.infoWindow = new google.maps.InfoWindow({
                content: html,
                maxWidth: 1800,
                minWidth: 650,
            });

            polygon.infoWindow.setPosition(getHighestWindowPosition(coors));



        google.maps.event.addListener(polygon, 'mouseover', function () {
                polygon.infoWindow.open(map, polygon);

          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawStuff{{loop.index}});

          function drawStuff{{loop.index}}() {
           var data = new google.visualization.arrayToDataTable([
            ['Year', 'Consumption', 'Inflow', 'Ufw Percentage'],


            {% for data2 in boundary["dmadata"][count.value] %}
            ['{{data2.year_month}}',{{data2.consumption}},{{data2.inflow}},{{data2.ufwper}}],
            {% endfor %}


            ]);

            var options = {
              width: 740,
              height: 292,
              legend: { position: 'bottom' },
              vAxis: {
              scaleType: 'log',
              gridlines : { count: 8 } },

              axes: {
            x: {
                  0: { side: 'top', label: 'Dma Graph'} // Top x-axis.
                }
              },
              bar: { groupWidth: "90%" }
            };

            var chart = new google.visualization.LineChart(document.getElementById('top_x_div{{loop.index}}'));
            // Convert the Classic options to Material options.
            chart.draw(data, options);
          };

            });

            google.maps.event.addListener(polygon, 'mouseout', function () {
                polygon.infoWindow.close();
            });

        }
{% set count.value = count.value + 1 %}
            {% endfor %}

        // function to get highest position of polygon to show window nice on top
        function getHighestWindowPosition(coors) {

            var lat = -5000, lng = 0, i = 0, n = coors.length;

            for (; i !== n; ++i) {
                if (coors[i].lat > lat) {
                    lat = coors[i].lat;
                    lng = coors[i].lng;
                }
            }
            return  {lat: lat, lng: lng};

        }



function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
function transfer()
 {
 var dmaid = document.getElementById("dmaid").innerHTML;
 window.location.href="/stationflow/"+dmaid;
 }
    </script>






{% endblock javascripts %}
