{% extends "base-site.html" %}

{% block title %} Meter Reading {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Locations</h4>
	<h4><a href="/homeview">Go Back</h4>
        </div>
    </div>
	<table id="example123" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            
            <th>Latitude</th>
            <th>Longitude</th>
            <th>TimeStamp</th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}

        <tr>
            
             <td><i class="fas fa-users"></i> {{dataa.lat.S}}</td>
            <td><i class="fas fa-users"></i> {{dataa.lng.S}}</td>
            <td>{{dataa.createdAt.S[0:10]}} {{dataa.createdAt.S[12:16]}}</td>
        </tr>
        {% if loop.index == 99 %}
        {%break%}
        {%endif%}
    {%endfor%}
     </tbody>
</table>
    </div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}

<script>

</script>
{% endblock javascripts %}
