<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxoGK5LxnTbyA91SH0I8dHwSFYecst5nQ&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 800px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 17.336430, lng: 77.904846 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>

  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
</html>























{% extends "base-site.html" %}

{% block title %} HOME {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxoGK5LxnTbyA91SH0I8dHwSFYecst5nQ&callback=initMap&libraries=&v=weekly" defer></script>
 <style type="text/css">
      #map {
        height: 800px;
        width: 90%;
      }
    </style>
{% endblock stylesheets %}

{% block content %}

<div style="width:88%;margin:auto;margin-top:30px;">
     <h3>DMA/UFW Map</h3>
    <!--The div element for the map -->
    <div id="map"></div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{%if signin%}
<script>const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: 'Signed in successfully'
})</script>
{%endif%}
{%if newuser%}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">New {{newuser}} Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
{%endif%}
  <script src="/static/assets/js/app/app-blog-overview.1.1.0.js"></script>

 <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const area = { lat: 17.336430, lng: 77.904846 };
        const ladu = { lat: 17.393480, lng: 78.559650 };
        const pidu = { lat: 17.3630, lng: 78.3943 };
        const gidu = { lat: 17.2552, lng: 78.5857 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: area,
        });

        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: area,
          map: map,
        });
         const marker1 = new google.maps.Marker({
          position: ladu,
          map: map,
        });
        const marker2 = new google.maps.Marker({
          position: pidu,
          map: map,
        });
        const marker3 = new google.maps.Marker({
          position: gidu,
          map: map,
          title: 'verygood',
        });
      }
    </script>

{% endblock javascripts %}




















{% extends "base-site.html" %}

{% block title %} HOME {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxoGK5LxnTbyA91SH0I8dHwSFYecst5nQ&callback=initMap&libraries=&v=weekly" defer></script>
 <style type="text/css">
      #map {
        height: 900px;
        width: 90%;
      }
    </style>
{% endblock stylesheets %}

{% block content %}

<div style="width:88%;margin:auto;margin-top:30px;">
     <h3>DMA/UFW Map</h3>
    <!--The div element for the map -->
    <div id="map"></div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{%if signin%}
<script>const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'success',
  title: 'Signed in successfully'
})</script>
{%endif%}
{%if newuser%}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">New {{newuser}} Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
{%endif%}
  <script src="/static/assets/js/app/app-blog-overview.1.1.0.js"></script>

 <script>
      // Initialize and add the map
      function initMap() {

        const area = { lat: 17.336430, lng: 77.904846 };
        const ladu = { lat: 17.393480, lng: 78.559650 };
        const pidu = { lat: 17.3630, lng: 78.3943 };
        const gidu = { lat: 17.2552, lng: 78.5857 };

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: area,
        });

        const script = document.createElement("script");
        script.src =
          "/static/assets/js/mapjson.js";
        document.getElementsByTagName("head")[0].appendChild(script);
}
        // Loop through the results array and place a marker for each
      // set of coordinates.
      const eqfeed_callback = function (results) {
        for (let i = 0; i < 1; i++) {
          const coords = results.features.latitude;
          const coords2 = results.features.longitude;
          console.log(coords)
<!--          const latLng = new google.maps.LatLng(coordscoords2);-->
          new google.maps.Marker({
            position: latLng,
            map: map,
          });
        }
      };

    </script>

{% endblock javascripts %}
