{% extends "base-site.html" %}

{% block title %} Orders {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Orders</h4>
        </div>
    </div>
<table id="example12" class="display responsive cell-border" style="background:unset;width:100%">
    <caption>BuyOnce</caption>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price </th>
            <th>Order Qty</th>
            <th>Delivery Date</th>
            <th>Address</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
    {% if dataa.order_type.S == "Buyonce" %}
    {% set testing = {} %}

        <tr>
            <td>{{dataa.product_id.S}}</td>

            {% for dataa2 in data2 %}
            {%if dataa.product_id.S == dataa2.product_id.S %}
                <td>{{dataa2.product_name.S}}</td>
                {% set _ = testing.update({'deleted':False}) %}
            {%break%}
            {%else%}
            {% set _ = testing.update({'deleted':True}) %}
            {%endif%}
            {%endfor%}
<!--            {{testing["deleted"]}}-->
            {% if testing["deleted"] == True %}
            <td>Product Deleted</td>
            {%endif%}

            <td>{{dataa.subscription_price.S}}</td>
            <td>{{dataa.order_qty.S}}{{dataa.order_qty.N}}</td>
            <td>{{dataa.delivery_date.S}}</td>
            {% for dataa3 in data3 %}
            {%if dataa.address_id.S == dataa3.address_id.S %}
            <td style="width:290px;"><p style="max-width:100%;max-height: 80px;overflow-y: scroll;text-overflow: ellipsis;">{{dataa3.address.S}}</p></td>
            {%endif%}
            {%endfor%}
            <td style="width:11%;">

<!--                <a href="/ordersedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;margin:4px">EDIT</button></a>-->

            <a href="/ordersdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white;padding-left:18px;padding-right:18px;margin:4px;font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endif%}
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}