{% extends "base-site.html" %}

{% block title %} Payments {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Payments</h4>
        </div>

    </div>
<table id="example99" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Recharge Amount</th>
            <th>Credits After Recharge</th>
            <th>Recharge Status </th>
            <th>Date Of Recharge</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>
            {% for dataa2 in data2 %}
            {%if dataa.user_id.N == dataa2.user_id.N %}
            {{dataa2.user_name.S}}
                {%endif%}
                {%endfor%}
            </td>
            <td>{{dataa.recharge_amount.N}}</td>
            <td>{{dataa.credits_post_recharge.N}}</td>
            {% if dataa.recharge_status.S == "success" %}
            <td style="color:green">{{dataa.recharge_status.S}}</td>
            {% else %}
            <td style="color:red">{{dataa.recharge_status.S}}</td>
            {%endif%}
            <td>{{dataa.date_of_recharge.S}}</td>

            <td>
            <a href="/paymentsdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}