{% extends "base-site.html" %}

{% block title %} Products {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Products</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addproduct">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add Product</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>Product Id </th>
            <th>Product Name </th>
            <th>Product Image </th>
            <th>BuyOnce Price </th>
            <th>Subscription Price</th>
            <th>Product Quantity</th>
            <th>Product Stock</th>
            <th>Product Description</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.product_id.S}}</td>
            <td>{{dataa.product_name.S}}</td>
          <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.product_image.S}}"></td>
          <td>{{dataa.price.S}}</td>
          <td>{{dataa.subscription_price.S}}</td>
          <td>{{dataa.qty.S}}{{dataa.unit.S}}</td>
          <td>{{dataa.stock.S}}</td>
          <td><p style="max-width: 100%;max-height: 80px;overflow-y: scroll;text-overflow: ellipsis;">{{dataa.description.S}}</p></td>
            <td>
                <a href="/productedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;margin:4px">EDIT</button></a>

            <a href="/productdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white;padding-left:18px;padding-right:18px;margin:4px;font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div>
    </div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}