{% extends "base-site.html" %}

{% block title %} Category {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All SubCategories</h4>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" href="/addsubcategory">
    <button  style="background-color: #dbdbdb;
        color: #212529;
        font-weight: 500;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        float: right;">Add SubCategory</button></a>
        </div>
    </div>
<table id="example" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>SubCategory Id </th>
            <th>SubCategory Name </th>
            <th>SubCategory Image </th>
            <th>Category Id </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.subcat_id.S}}</td>
            <td>{{dataa.subcat_name.S}}</td>
            <td><img style="width:46px;height:40px" alt="No Permission" src="https://tryonce-images.s3.ap-south-1.amazonaws.com/{{dataa.subcat_image.S}}"></td>
            <td>{{dataa.category_id.S}}</td>
            <td>
                <a href="/subcatedit/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>

            <a href="/subcatdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}