{% extends "base-site.html" %}

{% block title %} Users {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="">
    <div class="">
<br>

<div style="width:99%;margin:auto;">
<div class="card" style="margin-bottom:20px;padding:25px">
    <div clas="card-body">
    <div class="row">
        <div class="col">
        <h4 style="margin-bottom:20px;">All Users</h4>
        </div>

    </div>
<table id="example99" class="display responsive cell-border" style="background:unset;width:100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Credit Balance</th>
            <th>Address</th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for dataa in data %}
        <tr>
            <td>{{dataa.user_name.S}}</td>
            <td>{{dataa.user_email.S}}</td>
            <td>{{dataa.user_phone.S}}</td>
            {% if dataa.wallet_credits.S %}
            <td>{{dataa.wallet_credits.S}}</td>
            {% else %}
            <td>{{dataa.wallet_credits.N}}</td>
            {%endif%}
            <td>
            {% for dataa2 in data2 %}
            {%if dataa.user_id.N == dataa2.tryonceUserAddressesUserId.S %}
            {{dataa2.address.S}}
                {%endif%}
                {%endfor%}
            </td>
            <td>
            <a href="/usersdelete/{{dataa.id.S}}"><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
 </div>
</div></div></div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}