
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top footer navbar-fixed-bottom">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://vidaria.in">TryOnce - Tagline </a>
            </li>
        </ul>
        <span class="copyright ml-auto my-auto mr-2"> ©
            <a href="https://vidaria.in">TryOnce</a>
        </span>
    </footer>
