
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
              <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                <a class="navbar-brand w-100 mr-0" href="http://www.vidaria.in" style="line-height: 100px;">
                  <div class="d-table m-auto">
<!--                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 227px;margin-left:-6px;" src="/static/assets/img/sidelogo.png" alt="IMAGINED REALITY">-->
                    <h5 class="d-inline-block align-top mt-1" style="font-size:16px;font-weight: bold;"><i class="material-icons" style="font-size:26px;top:5px;">water_damage</i>Meter AdminConsole</h5>
                  </div>
                </a>
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                  <i class="material-icons">&#xE5C4;</i>
                </a>
              </nav>
            </div>

              <div class="nav-wrapper">
                <ul class="nav flex-column">
            {% if current_user.is_authenticated %}

                    <li class="nav-item">
                    <a class="nav-link {{active}}" href="/homeview">
                      <i class="material-icons">web</i>
                      <span>Meter Reading</span>
                    </a>
                  </li>

                  {% if current_user.isadmin == 'true' %}
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link {{active2}}" href="/alerttable">-->
<!--                      <i class="material-icons">notifications</i>-->
<!--                      <span>Alerts</span>-->
<!--                    </a>-->
<!--                  </li>-->

<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link {{active4}}" href="/flowtable">-->
<!--                      <i class="material-icons">web</i>-->
<!--                      <span>Flow Data Browser</span>-->
<!--                    </a>-->
<!--                  </li>-->
            
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link {{active5}}" href="/adminlanding">-->
<!--                      <i class="material-icons">face</i>-->
<!--                      <span>Data Admin</span>-->
<!--                    </a>-->
<!--                 </li>-->
            {%endif%}
            {%endif%}
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {{active9}}" href="/login">
                      <i class="material-icons">face</i>
                      <span>Login</span>
                    </a>
                 </li>
            {%endif%}

                </ul>
              </div>
        </aside>

