<!DOCTYPE html>
<html class="no-js h-100" lang="en">
  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/assets/img/favicon.png" />
    <meta name="description" content="Imagined Reality is an easy solution to earn money by answering surveys.">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
      <meta name="viewport" content="width=device-width, initial-scale=0.8,shrink-to-fit=yes">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
</head>
<body class="blur backgroundoflogin" style="">
<div class="main-content-container container-fluid px-4">

    <div class="lformcenter">

            <div class="lform">
                <div class="ultitle">
                    <h1>Admin Login</h1>
                    <h5 style="color:red;">Please enter your credentials</h5>
                </div>
                <form action="/login" method="post">
                              {% if msg %}
                                <h5 style="color:red;text-align:center;">{{ msg | safe }}</h5>
                              {%endif%}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h4 style="color:red;text-align:center;">{{ message }}</h4>
    {% endfor %}
  {% endif %}
{% endwith %}
        <div class="form-group input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" name="email" placeholder="Enter Email" title="ronaldo@email.com" autofocus required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" name="password" placeholder="Enter Password" title="Use Special Characters" required>
        </div>

                    <center><input type="submit" value="login" style="margin-top:15px;padding-left:20px;padding-right:20px;margin-bottom:20px;">
                  <br>
                    </center>
                </form>
            </div>
    </div>
</div>
</body>
</html>
