{% extends "base-site.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="lform lformcenter">
                <div class="ultitle">
        <h4>Register</h4>
                    {% if msg %}
            <p style="color:red;"> {{ msg | safe }}</p>
                    {% endif %}

    <form role="form" action="/register" method="post">

        <div class="form-group input-container">
            <i class="fa fa-user iconr"></i>
            <input class="input-field" type="text" name="fullname" placeholder="Enter Full Name" title="Username" autofocus required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-envelope iconr"></i>
            <input class="input-field" type="email" name="email" placeholder="Enter Email" title="ronaldo@email.com" required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-key iconr"></i>
            <input class="input-field" type="password" name="password" placeholder="Enter Password" title="use special characters for safety" required>
        </div>

        <div class="form-group input-container">
            <i class="fa fa-mobile iconr fa-lg" aria-hidden="true"></i>
            <input class="input-field" type="tel" name="mobile" placeholder="Enter Mobile No" pattern="[0-9]{10}" maxlength="10" title="Please input Numerics" required>
        </div>
        <div class="form-group input-container">
          <input type="checkbox" id="testName" name="isadmin" value="true">
          <input id='testNameHidden' type='hidden' value='false' name='isadmin'>
            <label for="testName"> &nbsp; Admin Rights</label>
        </div>
        <center>
        <input type="submit" value="Register" class="btn" style="margin-top:15px;margin-bottom:20px;">
            <br>
<!--            <h3>Have an account? <a href={{ url_for('login') }} class="text-primary">Login</a></h3>-->
        </center>
    </form>
                    <script>if(document.getElementById("testName").checked) {
                           document.getElementById('testNameHidden').disabled = true;
                    }</script>
</div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}